<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<br /> 
	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>Select a File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" style="height:50px; width:65px" /></td></tr>
			</table>
		</form>
	</div>
	
	<div>
		<ul>
			<li th:each="file : ${files}">
			Download File: <a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
</body>
</html>